Source/Isis.ApplicationBlocks.PaymentProcessing.Providers.FirstAtlanticCommerce/Web References/FacWebServices/FACPGWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://marlin.firstatlanticcommerce.com/FACPG/FACPGWS/2006" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://marlin.firstatlanticcommerce.com/FACPG/FACPGWS/2006" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://marlin.firstatlanticcommerce.com/FACPG/FACPGWS/2006">
      <s:element name="Auth3DS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="blnIsAuthenticateOnly" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="blnIsAVS" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="intAcquirerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intMerchantId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCurrency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCurrencyExponent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCardExpDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCardCVV2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSignatureMethod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSignature" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCaptureFlag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMerRespURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTestFlag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToZipPostCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToLastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToState" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Auth3DSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Auth3DSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Auth3DSExtendedAVS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="blnIsAuthenticateOnly" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="blnIsAVS" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="intAcquirerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intMerchantId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCurrency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCurrencyExponent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCardExpDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCardCVV2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSignatureMethod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSignature" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCaptureFlag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMerRespURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTestFlag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToZipPostCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToLastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intBillToCountry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intBillToTelephone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strHDF" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Auth3DSExtendedAVSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Auth3DSExtendedAVSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetExpressCheckout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="intMerchantId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCurrency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCurrencyExponent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMerRespURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMerCancelURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strLocaleCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetExpressCheckoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetExpressCheckoutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoExpressCheckout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="intAcquirerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intMerchantId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCurrency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCurrencyExponent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSignatureMethod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSignature" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCaptureFlag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPayerId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoExpressCheckoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoExpressCheckoutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PayPalPayout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="intAcquirerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intMerchantId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCurrency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCurrencyExponent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSignatureMethod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSignature" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strEmailAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PayPalPayoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PayPalPayoutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIPInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="intMerchantId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intIPAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIPInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIPInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthNon3DS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="blnIsAVS" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="blnIsAVSOnly" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="blnIs3DSPreAuthenticated" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="intAcquirerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intMerchantId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCurrency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCurrencyExponent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCardExpDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCardCVV2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSignatureMethod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSignature" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCaptureFlag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTestFlag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToZipPostCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToLastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intECIIndicator" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAuthenticationResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTransactionStain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCAVVValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthNon3DSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthNon3DSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthNon3DSWithIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="blnIsAVS" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="blnIsAVSOnly" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="blnIs3DSPreAuthenticated" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="intAcquirerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intMerchantId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCurrency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCurrencyExponent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCardExpDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCardCVV2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSignatureMethod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSignature" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCaptureFlag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTestFlag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToZipPostCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToLastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intECIIndicator" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAuthenticationResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTransactionStain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCAVVValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intIPAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthNon3DSWithIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthNon3DSWithIPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthNon3DSExtendedAVS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="blnIsAVS" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="blnIsAVSOnly" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="blnIs3DSPreAuthenticated" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="intAcquirerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intMerchantId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCurrency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCurrencyExponent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCardExpDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCardCVV2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSignatureMethod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSignature" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCaptureFlag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTestFlag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToZipPostCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToLastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intBillToCountry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intBillToTelephone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strHDF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intECIIndicator" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAuthenticationResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTransactionStain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCAVVValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthNon3DSExtendedAVSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthNon3DSExtendedAVSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthNon3DSExtendedAVSWithIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="blnIsAVS" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="blnIsAVSOnly" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="blnIs3DSPreAuthenticated" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="intAcquirerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intMerchantId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCurrency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCurrencyExponent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCardExpDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCardCVV2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSignatureMethod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSignature" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCaptureFlag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTestFlag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToZipPostCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToLastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intBillToCountry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBillToEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intBillToTelephone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strHDF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intECIIndicator" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAuthenticationResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTransactionStain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCAVVValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intIPAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthNon3DSExtendedAVSWithIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthNon3DSExtendedAVSWithIPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Capture">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="intAcquirerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intMerchantId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCurrencyExponent" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CaptureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CaptureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reversal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="intAcquirerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intMerchantId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCurrencyExponent" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReversalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReversalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Refund">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="intAcquirerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intMerchantId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intCurrencyExponent" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefundResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RefundResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyTransStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="intAcquirerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intMerchantId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyTransStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyTransStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Auth3DSSoapIn">
    <wsdl:part name="parameters" element="tns:Auth3DS" />
  </wsdl:message>
  <wsdl:message name="Auth3DSSoapOut">
    <wsdl:part name="parameters" element="tns:Auth3DSResponse" />
  </wsdl:message>
  <wsdl:message name="Auth3DSExtendedAVSSoapIn">
    <wsdl:part name="parameters" element="tns:Auth3DSExtendedAVS" />
  </wsdl:message>
  <wsdl:message name="Auth3DSExtendedAVSSoapOut">
    <wsdl:part name="parameters" element="tns:Auth3DSExtendedAVSResponse" />
  </wsdl:message>
  <wsdl:message name="SetExpressCheckoutSoapIn">
    <wsdl:part name="parameters" element="tns:SetExpressCheckout" />
  </wsdl:message>
  <wsdl:message name="SetExpressCheckoutSoapOut">
    <wsdl:part name="parameters" element="tns:SetExpressCheckoutResponse" />
  </wsdl:message>
  <wsdl:message name="DoExpressCheckoutSoapIn">
    <wsdl:part name="parameters" element="tns:DoExpressCheckout" />
  </wsdl:message>
  <wsdl:message name="DoExpressCheckoutSoapOut">
    <wsdl:part name="parameters" element="tns:DoExpressCheckoutResponse" />
  </wsdl:message>
  <wsdl:message name="PayPalPayoutSoapIn">
    <wsdl:part name="parameters" element="tns:PayPalPayout" />
  </wsdl:message>
  <wsdl:message name="PayPalPayoutSoapOut">
    <wsdl:part name="parameters" element="tns:PayPalPayoutResponse" />
  </wsdl:message>
  <wsdl:message name="GetIPInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetIPInfo" />
  </wsdl:message>
  <wsdl:message name="GetIPInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetIPInfoResponse" />
  </wsdl:message>
  <wsdl:message name="AuthNon3DSSoapIn">
    <wsdl:part name="parameters" element="tns:AuthNon3DS" />
  </wsdl:message>
  <wsdl:message name="AuthNon3DSSoapOut">
    <wsdl:part name="parameters" element="tns:AuthNon3DSResponse" />
  </wsdl:message>
  <wsdl:message name="AuthNon3DSWithIPSoapIn">
    <wsdl:part name="parameters" element="tns:AuthNon3DSWithIP" />
  </wsdl:message>
  <wsdl:message name="AuthNon3DSWithIPSoapOut">
    <wsdl:part name="parameters" element="tns:AuthNon3DSWithIPResponse" />
  </wsdl:message>
  <wsdl:message name="AuthNon3DSExtendedAVSSoapIn">
    <wsdl:part name="parameters" element="tns:AuthNon3DSExtendedAVS" />
  </wsdl:message>
  <wsdl:message name="AuthNon3DSExtendedAVSSoapOut">
    <wsdl:part name="parameters" element="tns:AuthNon3DSExtendedAVSResponse" />
  </wsdl:message>
  <wsdl:message name="AuthNon3DSExtendedAVSWithIPSoapIn">
    <wsdl:part name="parameters" element="tns:AuthNon3DSExtendedAVSWithIP" />
  </wsdl:message>
  <wsdl:message name="AuthNon3DSExtendedAVSWithIPSoapOut">
    <wsdl:part name="parameters" element="tns:AuthNon3DSExtendedAVSWithIPResponse" />
  </wsdl:message>
  <wsdl:message name="CaptureSoapIn">
    <wsdl:part name="parameters" element="tns:Capture" />
  </wsdl:message>
  <wsdl:message name="CaptureSoapOut">
    <wsdl:part name="parameters" element="tns:CaptureResponse" />
  </wsdl:message>
  <wsdl:message name="ReversalSoapIn">
    <wsdl:part name="parameters" element="tns:Reversal" />
  </wsdl:message>
  <wsdl:message name="ReversalSoapOut">
    <wsdl:part name="parameters" element="tns:ReversalResponse" />
  </wsdl:message>
  <wsdl:message name="RefundSoapIn">
    <wsdl:part name="parameters" element="tns:Refund" />
  </wsdl:message>
  <wsdl:message name="RefundSoapOut">
    <wsdl:part name="parameters" element="tns:RefundResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyTransStatusSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyTransStatus" />
  </wsdl:message>
  <wsdl:message name="VerifyTransStatusSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyTransStatusResponse" />
  </wsdl:message>
  <wsdl:message name="Auth3DSHttpPostIn">
    <wsdl:part name="blnIsAuthenticateOnly" type="s:string" />
    <wsdl:part name="blnIsAVS" type="s:string" />
    <wsdl:part name="intAcquirerId" type="s:string" />
    <wsdl:part name="intMerchantId" type="s:string" />
    <wsdl:part name="strOrderId" type="s:string" />
    <wsdl:part name="intAmount" type="s:string" />
    <wsdl:part name="intCurrency" type="s:string" />
    <wsdl:part name="intCurrencyExponent" type="s:string" />
    <wsdl:part name="intCardNumber" type="s:string" />
    <wsdl:part name="intCardExpDate" type="s:string" />
    <wsdl:part name="intCardCVV2" type="s:string" />
    <wsdl:part name="strSignatureMethod" type="s:string" />
    <wsdl:part name="strSignature" type="s:string" />
    <wsdl:part name="strCaptureFlag" type="s:string" />
    <wsdl:part name="strMerRespURL" type="s:string" />
    <wsdl:part name="strTestFlag" type="s:string" />
    <wsdl:part name="strBillToAddress" type="s:string" />
    <wsdl:part name="strBillToZipPostCode" type="s:string" />
    <wsdl:part name="strBillToFirstName" type="s:string" />
    <wsdl:part name="strBillToLastName" type="s:string" />
    <wsdl:part name="strBillToCity" type="s:string" />
    <wsdl:part name="strBillToState" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Auth3DSHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Auth3DSExtendedAVSHttpPostIn">
    <wsdl:part name="blnIsAuthenticateOnly" type="s:string" />
    <wsdl:part name="blnIsAVS" type="s:string" />
    <wsdl:part name="intAcquirerId" type="s:string" />
    <wsdl:part name="intMerchantId" type="s:string" />
    <wsdl:part name="strOrderId" type="s:string" />
    <wsdl:part name="intAmount" type="s:string" />
    <wsdl:part name="intCurrency" type="s:string" />
    <wsdl:part name="intCurrencyExponent" type="s:string" />
    <wsdl:part name="intCardNumber" type="s:string" />
    <wsdl:part name="intCardExpDate" type="s:string" />
    <wsdl:part name="intCardCVV2" type="s:string" />
    <wsdl:part name="strSignatureMethod" type="s:string" />
    <wsdl:part name="strSignature" type="s:string" />
    <wsdl:part name="strCaptureFlag" type="s:string" />
    <wsdl:part name="strMerRespURL" type="s:string" />
    <wsdl:part name="strTestFlag" type="s:string" />
    <wsdl:part name="strBillToAddress" type="s:string" />
    <wsdl:part name="strBillToZipPostCode" type="s:string" />
    <wsdl:part name="strBillToFirstName" type="s:string" />
    <wsdl:part name="strBillToLastName" type="s:string" />
    <wsdl:part name="strBillToCity" type="s:string" />
    <wsdl:part name="strBillToState" type="s:string" />
    <wsdl:part name="intBillToCountry" type="s:string" />
    <wsdl:part name="strBillToEmail" type="s:string" />
    <wsdl:part name="intBillToTelephone" type="s:string" />
    <wsdl:part name="strHDF" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Auth3DSExtendedAVSHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetExpressCheckoutHttpPostIn">
    <wsdl:part name="intMerchantId" type="s:string" />
    <wsdl:part name="intAmount" type="s:string" />
    <wsdl:part name="intCurrency" type="s:string" />
    <wsdl:part name="intCurrencyExponent" type="s:string" />
    <wsdl:part name="strMerRespURL" type="s:string" />
    <wsdl:part name="strMerCancelURL" type="s:string" />
    <wsdl:part name="strLocaleCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetExpressCheckoutHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DoExpressCheckoutHttpPostIn">
    <wsdl:part name="intAcquirerId" type="s:string" />
    <wsdl:part name="intMerchantId" type="s:string" />
    <wsdl:part name="strOrderId" type="s:string" />
    <wsdl:part name="intAmount" type="s:string" />
    <wsdl:part name="intCurrency" type="s:string" />
    <wsdl:part name="intCurrencyExponent" type="s:string" />
    <wsdl:part name="strSignatureMethod" type="s:string" />
    <wsdl:part name="strSignature" type="s:string" />
    <wsdl:part name="strCaptureFlag" type="s:string" />
    <wsdl:part name="strToken" type="s:string" />
    <wsdl:part name="strPayerId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DoExpressCheckoutHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PayPalPayoutHttpPostIn">
    <wsdl:part name="intAcquirerId" type="s:string" />
    <wsdl:part name="intMerchantId" type="s:string" />
    <wsdl:part name="strOrderId" type="s:string" />
    <wsdl:part name="intAmount" type="s:string" />
    <wsdl:part name="intCurrency" type="s:string" />
    <wsdl:part name="intCurrencyExponent" type="s:string" />
    <wsdl:part name="strSignatureMethod" type="s:string" />
    <wsdl:part name="strSignature" type="s:string" />
    <wsdl:part name="strEmailAddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PayPalPayoutHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetIPInfoHttpPostIn">
    <wsdl:part name="intMerchantId" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
    <wsdl:part name="strOrderId" type="s:string" />
    <wsdl:part name="intIPAddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetIPInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AuthNon3DSHttpPostIn">
    <wsdl:part name="blnIsAVS" type="s:string" />
    <wsdl:part name="blnIsAVSOnly" type="s:string" />
    <wsdl:part name="blnIs3DSPreAuthenticated" type="s:string" />
    <wsdl:part name="intAcquirerId" type="s:string" />
    <wsdl:part name="intMerchantId" type="s:string" />
    <wsdl:part name="strOrderId" type="s:string" />
    <wsdl:part name="intAmount" type="s:string" />
    <wsdl:part name="intCurrency" type="s:string" />
    <wsdl:part name="intCurrencyExponent" type="s:string" />
    <wsdl:part name="intCardNumber" type="s:string" />
    <wsdl:part name="intCardExpDate" type="s:string" />
    <wsdl:part name="intCardCVV2" type="s:string" />
    <wsdl:part name="strSignatureMethod" type="s:string" />
    <wsdl:part name="strSignature" type="s:string" />
    <wsdl:part name="strCaptureFlag" type="s:string" />
    <wsdl:part name="strTestFlag" type="s:string" />
    <wsdl:part name="strBillToAddress" type="s:string" />
    <wsdl:part name="strBillToZipPostCode" type="s:string" />
    <wsdl:part name="strBillToFirstName" type="s:string" />
    <wsdl:part name="strBillToLastName" type="s:string" />
    <wsdl:part name="strBillToCity" type="s:string" />
    <wsdl:part name="strBillToState" type="s:string" />
    <wsdl:part name="intECIIndicator" type="s:string" />
    <wsdl:part name="strAuthenticationResult" type="s:string" />
    <wsdl:part name="strTransactionStain" type="s:string" />
    <wsdl:part name="strCAVVValue" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthNon3DSHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AuthNon3DSWithIPHttpPostIn">
    <wsdl:part name="blnIsAVS" type="s:string" />
    <wsdl:part name="blnIsAVSOnly" type="s:string" />
    <wsdl:part name="blnIs3DSPreAuthenticated" type="s:string" />
    <wsdl:part name="intAcquirerId" type="s:string" />
    <wsdl:part name="intMerchantId" type="s:string" />
    <wsdl:part name="strOrderId" type="s:string" />
    <wsdl:part name="intAmount" type="s:string" />
    <wsdl:part name="intCurrency" type="s:string" />
    <wsdl:part name="intCurrencyExponent" type="s:string" />
    <wsdl:part name="intCardNumber" type="s:string" />
    <wsdl:part name="intCardExpDate" type="s:string" />
    <wsdl:part name="intCardCVV2" type="s:string" />
    <wsdl:part name="strSignatureMethod" type="s:string" />
    <wsdl:part name="strSignature" type="s:string" />
    <wsdl:part name="strCaptureFlag" type="s:string" />
    <wsdl:part name="strTestFlag" type="s:string" />
    <wsdl:part name="strBillToAddress" type="s:string" />
    <wsdl:part name="strBillToZipPostCode" type="s:string" />
    <wsdl:part name="strBillToFirstName" type="s:string" />
    <wsdl:part name="strBillToLastName" type="s:string" />
    <wsdl:part name="strBillToCity" type="s:string" />
    <wsdl:part name="strBillToState" type="s:string" />
    <wsdl:part name="intECIIndicator" type="s:string" />
    <wsdl:part name="strAuthenticationResult" type="s:string" />
    <wsdl:part name="strTransactionStain" type="s:string" />
    <wsdl:part name="strCAVVValue" type="s:string" />
    <wsdl:part name="intIPAddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthNon3DSWithIPHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AuthNon3DSExtendedAVSHttpPostIn">
    <wsdl:part name="blnIsAVS" type="s:string" />
    <wsdl:part name="blnIsAVSOnly" type="s:string" />
    <wsdl:part name="blnIs3DSPreAuthenticated" type="s:string" />
    <wsdl:part name="intAcquirerId" type="s:string" />
    <wsdl:part name="intMerchantId" type="s:string" />
    <wsdl:part name="strOrderId" type="s:string" />
    <wsdl:part name="intAmount" type="s:string" />
    <wsdl:part name="intCurrency" type="s:string" />
    <wsdl:part name="intCurrencyExponent" type="s:string" />
    <wsdl:part name="intCardNumber" type="s:string" />
    <wsdl:part name="intCardExpDate" type="s:string" />
    <wsdl:part name="intCardCVV2" type="s:string" />
    <wsdl:part name="strSignatureMethod" type="s:string" />
    <wsdl:part name="strSignature" type="s:string" />
    <wsdl:part name="strCaptureFlag" type="s:string" />
    <wsdl:part name="strTestFlag" type="s:string" />
    <wsdl:part name="strBillToAddress" type="s:string" />
    <wsdl:part name="strBillToZipPostCode" type="s:string" />
    <wsdl:part name="strBillToFirstName" type="s:string" />
    <wsdl:part name="strBillToLastName" type="s:string" />
    <wsdl:part name="strBillToCity" type="s:string" />
    <wsdl:part name="strBillToState" type="s:string" />
    <wsdl:part name="intBillToCountry" type="s:string" />
    <wsdl:part name="strBillToEmail" type="s:string" />
    <wsdl:part name="intBillToTelephone" type="s:string" />
    <wsdl:part name="strHDF" type="s:string" />
    <wsdl:part name="intECIIndicator" type="s:string" />
    <wsdl:part name="strAuthenticationResult" type="s:string" />
    <wsdl:part name="strTransactionStain" type="s:string" />
    <wsdl:part name="strCAVVValue" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthNon3DSExtendedAVSHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AuthNon3DSExtendedAVSWithIPHttpPostIn">
    <wsdl:part name="blnIsAVS" type="s:string" />
    <wsdl:part name="blnIsAVSOnly" type="s:string" />
    <wsdl:part name="blnIs3DSPreAuthenticated" type="s:string" />
    <wsdl:part name="intAcquirerId" type="s:string" />
    <wsdl:part name="intMerchantId" type="s:string" />
    <wsdl:part name="strOrderId" type="s:string" />
    <wsdl:part name="intAmount" type="s:string" />
    <wsdl:part name="intCurrency" type="s:string" />
    <wsdl:part name="intCurrencyExponent" type="s:string" />
    <wsdl:part name="intCardNumber" type="s:string" />
    <wsdl:part name="intCardExpDate" type="s:string" />
    <wsdl:part name="intCardCVV2" type="s:string" />
    <wsdl:part name="strSignatureMethod" type="s:string" />
    <wsdl:part name="strSignature" type="s:string" />
    <wsdl:part name="strCaptureFlag" type="s:string" />
    <wsdl:part name="strTestFlag" type="s:string" />
    <wsdl:part name="strBillToAddress" type="s:string" />
    <wsdl:part name="strBillToZipPostCode" type="s:string" />
    <wsdl:part name="strBillToFirstName" type="s:string" />
    <wsdl:part name="strBillToLastName" type="s:string" />
    <wsdl:part name="strBillToCity" type="s:string" />
    <wsdl:part name="strBillToState" type="s:string" />
    <wsdl:part name="intBillToCountry" type="s:string" />
    <wsdl:part name="strBillToEmail" type="s:string" />
    <wsdl:part name="intBillToTelephone" type="s:string" />
    <wsdl:part name="strHDF" type="s:string" />
    <wsdl:part name="intECIIndicator" type="s:string" />
    <wsdl:part name="strAuthenticationResult" type="s:string" />
    <wsdl:part name="strTransactionStain" type="s:string" />
    <wsdl:part name="strCAVVValue" type="s:string" />
    <wsdl:part name="intIPAddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthNon3DSExtendedAVSWithIPHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CaptureHttpPostIn">
    <wsdl:part name="intAcquirerId" type="s:string" />
    <wsdl:part name="intMerchantId" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
    <wsdl:part name="strOrderId" type="s:string" />
    <wsdl:part name="intAmount" type="s:string" />
    <wsdl:part name="intCurrencyExponent" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CaptureHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ReversalHttpPostIn">
    <wsdl:part name="intAcquirerId" type="s:string" />
    <wsdl:part name="intMerchantId" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
    <wsdl:part name="strOrderId" type="s:string" />
    <wsdl:part name="intAmount" type="s:string" />
    <wsdl:part name="intCurrencyExponent" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReversalHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RefundHttpPostIn">
    <wsdl:part name="intAcquirerId" type="s:string" />
    <wsdl:part name="intMerchantId" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
    <wsdl:part name="strOrderId" type="s:string" />
    <wsdl:part name="intAmount" type="s:string" />
    <wsdl:part name="intCurrencyExponent" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RefundHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="VerifyTransStatusHttpPostIn">
    <wsdl:part name="intAcquirerId" type="s:string" />
    <wsdl:part name="intMerchantId" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
    <wsdl:part name="strOrderId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VerifyTransStatusHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="FACPGWSSoap">
    <wsdl:operation name="Auth3DS">
      <wsdl:input message="tns:Auth3DSSoapIn" />
      <wsdl:output message="tns:Auth3DSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Auth3DSExtendedAVS">
      <wsdl:input message="tns:Auth3DSExtendedAVSSoapIn" />
      <wsdl:output message="tns:Auth3DSExtendedAVSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetExpressCheckout">
      <wsdl:input message="tns:SetExpressCheckoutSoapIn" />
      <wsdl:output message="tns:SetExpressCheckoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoExpressCheckout">
      <wsdl:input message="tns:DoExpressCheckoutSoapIn" />
      <wsdl:output message="tns:DoExpressCheckoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PayPalPayout">
      <wsdl:input message="tns:PayPalPayoutSoapIn" />
      <wsdl:output message="tns:PayPalPayoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIPInfo">
      <wsdl:input message="tns:GetIPInfoSoapIn" />
      <wsdl:output message="tns:GetIPInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthNon3DS">
      <wsdl:input message="tns:AuthNon3DSSoapIn" />
      <wsdl:output message="tns:AuthNon3DSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthNon3DSWithIP">
      <wsdl:input message="tns:AuthNon3DSWithIPSoapIn" />
      <wsdl:output message="tns:AuthNon3DSWithIPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthNon3DSExtendedAVS">
      <wsdl:input message="tns:AuthNon3DSExtendedAVSSoapIn" />
      <wsdl:output message="tns:AuthNon3DSExtendedAVSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthNon3DSExtendedAVSWithIP">
      <wsdl:input message="tns:AuthNon3DSExtendedAVSWithIPSoapIn" />
      <wsdl:output message="tns:AuthNon3DSExtendedAVSWithIPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Capture">
      <wsdl:input message="tns:CaptureSoapIn" />
      <wsdl:output message="tns:CaptureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reversal">
      <wsdl:input message="tns:ReversalSoapIn" />
      <wsdl:output message="tns:ReversalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Refund">
      <wsdl:input message="tns:RefundSoapIn" />
      <wsdl:output message="tns:RefundSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyTransStatus">
      <wsdl:input message="tns:VerifyTransStatusSoapIn" />
      <wsdl:output message="tns:VerifyTransStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FACPGWSHttpPost">
    <wsdl:operation name="Auth3DS">
      <wsdl:input message="tns:Auth3DSHttpPostIn" />
      <wsdl:output message="tns:Auth3DSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Auth3DSExtendedAVS">
      <wsdl:input message="tns:Auth3DSExtendedAVSHttpPostIn" />
      <wsdl:output message="tns:Auth3DSExtendedAVSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetExpressCheckout">
      <wsdl:input message="tns:SetExpressCheckoutHttpPostIn" />
      <wsdl:output message="tns:SetExpressCheckoutHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DoExpressCheckout">
      <wsdl:input message="tns:DoExpressCheckoutHttpPostIn" />
      <wsdl:output message="tns:DoExpressCheckoutHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PayPalPayout">
      <wsdl:input message="tns:PayPalPayoutHttpPostIn" />
      <wsdl:output message="tns:PayPalPayoutHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIPInfo">
      <wsdl:input message="tns:GetIPInfoHttpPostIn" />
      <wsdl:output message="tns:GetIPInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthNon3DS">
      <wsdl:input message="tns:AuthNon3DSHttpPostIn" />
      <wsdl:output message="tns:AuthNon3DSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthNon3DSWithIP">
      <wsdl:input message="tns:AuthNon3DSWithIPHttpPostIn" />
      <wsdl:output message="tns:AuthNon3DSWithIPHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthNon3DSExtendedAVS">
      <wsdl:input message="tns:AuthNon3DSExtendedAVSHttpPostIn" />
      <wsdl:output message="tns:AuthNon3DSExtendedAVSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthNon3DSExtendedAVSWithIP">
      <wsdl:input message="tns:AuthNon3DSExtendedAVSWithIPHttpPostIn" />
      <wsdl:output message="tns:AuthNon3DSExtendedAVSWithIPHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Capture">
      <wsdl:input message="tns:CaptureHttpPostIn" />
      <wsdl:output message="tns:CaptureHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Reversal">
      <wsdl:input message="tns:ReversalHttpPostIn" />
      <wsdl:output message="tns:ReversalHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Refund">
      <wsdl:input message="tns:RefundHttpPostIn" />
      <wsdl:output message="tns:RefundHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyTransStatus">
      <wsdl:input message="tns:VerifyTransStatusHttpPostIn" />
      <wsdl:output message="tns:VerifyTransStatusHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FACPGWSSoap" type="tns:FACPGWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Auth3DS">
      <soap:operation soapAction="http://marlin.firstatlanticcommerce.com/FACPG/FACPGWS/2006/Auth3DS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Auth3DSExtendedAVS">
      <soap:operation soapAction="http://marlin.firstatlanticcommerce.com/FACPG/FACPGWS/2006/Auth3DSExtendedAVS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetExpressCheckout">
      <soap:operation soapAction="http://marlin.firstatlanticcommerce.com/FACPG/FACPGWS/2006/SetExpressCheckout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoExpressCheckout">
      <soap:operation soapAction="http://marlin.firstatlanticcommerce.com/FACPG/FACPGWS/2006/DoExpressCheckout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PayPalPayout">
      <soap:operation soapAction="http://marlin.firstatlanticcommerce.com/FACPG/FACPGWS/2006/PayPalPayout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIPInfo">
      <soap:operation soapAction="http://marlin.firstatlanticcommerce.com/FACPG/FACPGWS/2006/GetIPInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthNon3DS">
      <soap:operation soapAction="http://marlin.firstatlanticcommerce.com/FACPG/FACPGWS/2006/AuthNon3DS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthNon3DSWithIP">
      <soap:operation soapAction="http://marlin.firstatlanticcommerce.com/FACPG/FACPGWS/2006/AuthNon3DSWithIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthNon3DSExtendedAVS">
      <soap:operation soapAction="http://marlin.firstatlanticcommerce.com/FACPG/FACPGWS/2006/AuthNon3DSExtendedAVS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthNon3DSExtendedAVSWithIP">
      <soap:operation soapAction="http://marlin.firstatlanticcommerce.com/FACPG/FACPGWS/2006/AuthNon3DSExtendedAVSWithIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Capture">
      <soap:operation soapAction="http://marlin.firstatlanticcommerce.com/FACPG/FACPGWS/2006/Capture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reversal">
      <soap:operation soapAction="http://marlin.firstatlanticcommerce.com/FACPG/FACPGWS/2006/Reversal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Refund">
      <soap:operation soapAction="http://marlin.firstatlanticcommerce.com/FACPG/FACPGWS/2006/Refund" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyTransStatus">
      <soap:operation soapAction="http://marlin.firstatlanticcommerce.com/FACPG/FACPGWS/2006/VerifyTransStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FACPGWSHttpPost" type="tns:FACPGWSHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Auth3DS">
      <http:operation location="/Auth3DS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Auth3DSExtendedAVS">
      <http:operation location="/Auth3DSExtendedAVS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetExpressCheckout">
      <http:operation location="/SetExpressCheckout" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoExpressCheckout">
      <http:operation location="/DoExpressCheckout" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PayPalPayout">
      <http:operation location="/PayPalPayout" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIPInfo">
      <http:operation location="/GetIPInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthNon3DS">
      <http:operation location="/AuthNon3DS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthNon3DSWithIP">
      <http:operation location="/AuthNon3DSWithIP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthNon3DSExtendedAVS">
      <http:operation location="/AuthNon3DSExtendedAVS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthNon3DSExtendedAVSWithIP">
      <http:operation location="/AuthNon3DSExtendedAVSWithIP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Capture">
      <http:operation location="/Capture" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reversal">
      <http:operation location="/Reversal" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Refund">
      <http:operation location="/Refund" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyTransStatus">
      <http:operation location="/VerifyTransStatus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FACPGWS">
    <wsdl:port name="FACPGWSSoap" binding="tns:FACPGWSSoap">
      <soap:address location="https://marlin.firstatlanticcommerce.com/FACPG/FACPGWS.asmx" />
    </wsdl:port>
    <wsdl:port name="FACPGWSHttpPost" binding="tns:FACPGWSHttpPost">
      <http:address location="https://marlin.firstatlanticcommerce.com/FACPG/FACPGWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>